<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>XtraFinder_ShowStatusBarIcon</key>
	<true/>
	<key>XtraFinder_XFAlwaysShowToolbarPlugin</key>
	<true/>
	<key>XtraFinder_XFAttributesMenuPlugin</key>
	<true/>
	<key>XtraFinder_XFAutoArrangeByNamePlugin</key>
	<true/>
	<key>XtraFinder_XFBrowserViewColorPlugin</key>
	<false/>
	<key>XtraFinder_XFBrowserViewColorPlugin_BackgroundColor</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARm
	ZmZmg1XVLD+DVdUsP4NV1Sw/AYY=
	</data>
	<key>XtraFinder_XFBrowserViewColorPlugin_TextColor</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARm
	ZmZmg0NiXjuDQ2JeO4NDYl47AYY=
	</data>
	<key>XtraFinder_XFColorfulSidebarPlugin</key>
	<true/>
	<key>XtraFinder_XFCopyPathMenuPlugin</key>
	<true/>
	<key>XtraFinder_XFCopyToActionPlugin</key>
	<true/>
	<key>XtraFinder_XFCopyToActionPlugin_RecentFolders</key>
	<array>
		<string>file:///Users/helbertm/Documents/Po%CC%81s-Graduac%CC%A7a%CC%83o/IGTI/AAA%20-%20Arquitetura%20de%20Aplicac%CC%A7o%CC%83es%20para%20Android/</string>
		<string>file:///Users/helbertm/Desktop/</string>
		<string>file:///Volumes/Untitled/</string>
		<string>file:///Volumes/TV_Casa/</string>
		<string>file:///Users/helbertm/Documents/Po%CC%81s-Graduac%CC%A7a%CC%83o/IGTI/TCC/Livros/</string>
		<string>file:///Users/helbertm/Documents/Po%CC%81s-Graduac%CC%A7a%CC%83o/IGTI/TCC/</string>
		<string>file:///Volumes/NO%20NAME/</string>
	</array>
	<key>XtraFinder_XFCutAndPastePlugin</key>
	<true/>
	<key>XtraFinder_XFEnterToOpenPlugin</key>
	<true/>
	<key>XtraFinder_XFFitColumnWidthPlugin</key>
	<true/>
	<key>XtraFinder_XFFitColumnWidthPlugin_Date</key>
	<true/>
	<key>XtraFinder_XFFitColumnWidthPlugin_HasMaxWidth</key>
	<false/>
	<key>XtraFinder_XFFitColumnWidthPlugin_Kind</key>
	<true/>
	<key>XtraFinder_XFFitColumnWidthPlugin_MaxWidth</key>
	<real>100</real>
	<key>XtraFinder_XFFitColumnWidthPlugin_Name</key>
	<true/>
	<key>XtraFinder_XFFitColumnWidthPlugin_Size</key>
	<true/>
	<key>XtraFinder_XFFolderItemCountPlugin</key>
	<true/>
	<key>XtraFinder_XFFoldersOnTopPlugin</key>
	<true/>
	<key>XtraFinder_XFGoUpToolbarButtonPlugin</key>
	<true/>
	<key>XtraFinder_XFHideDesktopActionPlugin</key>
	<false/>
	<key>XtraFinder_XFLabelsInSidebarPlugin</key>
	<false/>
	<key>XtraFinder_XFNewFileActionPlugin</key>
	<true/>
	<key>XtraFinder_XFNewTerminalActionPlugin</key>
	<true/>
	<key>XtraFinder_XFNewTerminalActionPlugin_TerminalApp</key>
	<integer>1</integer>
	<key>XtraFinder_XFPathBarBreadcrumbMenuPlugin</key>
	<true/>
	<key>XtraFinder_XFPermanentDeletePlugin</key>
	<true/>
	<key>XtraFinder_XFRefreshActionPlugin</key>
	<false/>
	<key>XtraFinder_XFRenameActionPlugin</key>
	<true/>
	<key>XtraFinder_XFSelectActionPlugin</key>
	<true/>
	<key>XtraFinder_XFSizeOfSelectedItemsInStatusBarPlugin</key>
	<true/>
	<key>XtraFinder_XFSizeOfSelectedItemsInStatusBarPlugin_AutoCalculate</key>
	<true/>
	<key>XtraFinder_XFSortRecentFoldersPlugin</key>
	<true/>
	<key>XtraFinder_XFTabPlugin</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_NewTabShortcut</key>
	<dict>
		<key>keyCharsIgnoringModifiers</key>
		<string>t</string>
		<key>keyCode</key>
		<integer>17</integer>
		<key>modifierFlags</key>
		<integer>1048576</integer>
	</dict>
	<key>XtraFinder_XFTabPlugin_PinnableWindow_Slide</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_ReopenClosedTabShortcut</key>
	<dict>
		<key>keyCharsIgnoringModifiers</key>
		<string>t</string>
		<key>keyCode</key>
		<integer>17</integer>
		<key>modifierFlags</key>
		<integer>1179648</integer>
	</dict>
	<key>XtraFinder_XFTabPlugin_SaveOpenTabs</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_SelectNextTabShortcut</key>
	<dict>
		<key>keyCharsIgnoringModifiers</key>
		<string>	</string>
		<key>keyCode</key>
		<integer>48</integer>
		<key>modifierFlags</key>
		<integer>262144</integer>
	</dict>
	<key>XtraFinder_XFTabPlugin_SelectPreviousTabShortcut</key>
	<dict>
		<key>keyCharsIgnoringModifiers</key>
		<string>	</string>
		<key>keyCode</key>
		<integer>48</integer>
		<key>modifierFlags</key>
		<integer>393216</integer>
	</dict>
	<key>XtraFinder_XFTabPlugin_ShowPinButton</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_ShowSideBar</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_SidebarWidth</key>
	<real>192</real>
	<key>XtraFinder_XFTabPlugin_ToggleDualPanelShortcut</key>
	<dict>
		<key>keyCharsIgnoringModifiers</key>
		<string>u</string>
		<key>keyCode</key>
		<integer>32</integer>
		<key>modifierFlags</key>
		<integer>1048576</integer>
	</dict>
	<key>XtraFinder_XFTabPlugin_UseSelectTabShortcuts</key>
	<true/>
	<key>XtraFinder_XFToolbarButtonService</key>
	<true/>
	<key>XtraFinder_XFToolbarButtonService_Configuration</key>
	<dict>
		<key>Identifiers</key>
		<array/>
		<key>Index</key>
		<integer>9223372036854775807</integer>
	</dict>
	<key>XtraFinder_XFTransparentWindowPlugin</key>
	<false/>
</dict>
</plist>
